<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#fafafa">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Portals/Mirrors</title>
     <link href="/css/bootstrap.min.css" rel="stylesheet">
    {{{_sections.head}}}
</head>
<body>
    <div class="container">
        <header>
            <div class="blog-masthead">
                <div class="container">
                    <nav class="blog-nav">
                        <a class="push" href="#"><h1>Portals/Mirrors</h1></a>
                        <a class="blog-nav-item" href="#"><p class="nav-fonts">Home</p></a>
                        <a class="blog-nav-item" href="#"><p class="nav-fonts">Essays</p></a>
                        <a class="blog-nav-item" href="#"><p class="nav-fonts">Poems</p></a>
                        <a class="blog-nav-item" href="#"><p class="nav-fonts">About</p></a>
                        <a class="blog-nav-item" href="#"><p class="nav-fonts">Contact</p></a>
                    </nav>
                </div>
            </div>
        </header>
        <div class="container">
            {{{body}}}
            {{{_sections.scripts}}}
        </div>
        <footer class="blog-footer">
            &copy; 2021 Portals/Mirrors
            {{> weather }}
       <div class="footer-social-links">
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
            </ol>
          </div>
      <p>
        <a href="#">Back to top</a>
      </p>
        </footer>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
           <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
            <script src="../../dist/js/bootstrap.min.js"></script>
            <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    </div>
</body>
</html>


