<body>
    <div class="container">
        <div class="city-background">
            <img src="https://placeimg.com/640/480/tech?t=1630729938296" loading="lazy" width="2000" height="375"
                alt="cyberpunk cityscape">
            <p id="subtitle">Reflections and thoughts on virtual reality and the web</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                    {{#each posts}}
                    <ul class="people_list">
                        <h2 class="post-title">
                            <a href="posts/{{ this._id }}">
                                <li>{{ this.title }}</li>
                            </a>
                        </h2>
                        <p class="post-meta">Posted by <a href="#"> {{ this.username }} </a>
                            on {{ this.createdAt }}
                        </p>
                    </ul>
                    {{/each}}
                </div>
                <hr>

                <!-- Pager -->
                <div class="clearfix">
                    <a class="btn btn-primary float-right" href="#">Older Posts →</a>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <nav>
        <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </nav>
    </div>
</body>