<body>
    <div id="page-wrap">
        <div class="blog-post">
            {{#with posts}}
            <h2 class="blog-post-title">{{ this.title }}</h2>

            <p class="post-meta">Posted by <a href="#"> {{ this.username }}
                </a>
                on {{ this.createdAt }}
            </p>
            <hr>

            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            {{ this.content }}
                        </div>
                    </div>
                </div>
            </article>
            {{/with}}
        </div> 
    </div>
</body>