.navbar {
  background-color: #428bca;
  /* display: flex;
    flex-flow: row;
    justify-content: flex-end; */
  /* -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); */
}

.navbar-brand {
  position: relative;
  margin-right: auto;
  margin-top: auto;
}

.nav-link {
  margin-right: 30px;
  text-decoration: none;
}
.nav-link:hover {
  color: rgba(0, 0, 0, 0.315);
  text-decoration: none;
}
