.navbar {
  background-color: #ca424d;
  /* display: flex;
    flex-flow: row;
    justify-content: flex-end; */
  /* -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); */
}

.navbar-nav{
  color: snow;
}
.navbar-brand {
  position: relative;
  margin-right: auto;
  margin-top: auto;
}

.nav-link {
  margin-right: 30px;
  font-size: large;
}
.nav-link:hover {
  color: rgba(56, 22, 207, 0.336);
  text-decoration: none;
}

/* TODO: try to do with bootstrap */
.main-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-row-gap: 10px;
}

.blog-footer{
  text-align: center;
}

.blog-post-title{
  text-align: center;
}

.post-meta{
  text-align: center;
}

.col-lg-8{
  text-align: center;
}

.banner{
  text-align: center;
  padding: 50px;
  background-color: cornflowerblue;
  max-width: 980px;
  margin: 50px auto
}


